source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget xUnit
nuget FluentAssertions
nuget moq
nuget Microsoft.NET.Test.SDK
nuget Microsoft.EntityFrameworkCore
nuget Npgsql.EntityFrameworkCore.PostgreSQL
nuget EFCore.NamingConventions
nuget Testcontainers
nuget Microsoft.EntityFrameworkCore.Design
nuget Swashbuckle.AspNetCore